
#messages .info { color: #228B22; }
#messages .error { color: #AA0000; }

#rssfeed { border: solid 1px; margin: 20px; padding: 6px; }
#newsletter { border: solid 1px; margin: 20px; padding: 6px; }

.rss-item { border-bottom: solid 1px; width: 400px;  }

textarea.huge { width: 400px; height: 160px;  }
