
body { margin: 10px; }

#messages .info { color: #228B22; }
#messages .error { color: #AA0000; }

textarea.huge { width: 380px; height: 300px;  }

#rssitems .title { font-size: large; }
#rssitems label { display: inline; }
#rssitems .content { display: none; }
#rssitems .link { margin-left: 4px; margin-right: 3px; }
#content {
	min-height: 100%;
	position: relative;
	overflow: auto;
}

/*#numFeedEntries { width: 100px; }*/
#prefix { width: 90%; height: 100px; margin: 10px; }

#header { }

#leftpanel {
	display: block;
	float: left; 
	width: 400px;
}

#center {
	display: block;
	width: auto; 
}
